p{
    font-family: Arial, sans-serif
}

#titulo-principal{
    color: blue;
}

.destaque{
    background-color: yellow
}

/* se vc tá lendo esse comentário, desista desse codigo ele já era. - dev1*/

.importante {
    color: red;
}

/* o que voce prefere cloud in a bottle ou garras ferais? - dev2*/

input[type="password"] {
    border: 2px solid blue;
}

/* verme-da-trufa */

button:hover {
    background-color: #d1d1d1;
}

/* botao hoover DAM */

.container > div:first-of-type > p {
    color: #00008B
}

/* azulzinho */

p::first-letter {
    font-size: 2em;
    font-weight: bold;
}
/*show de bola*/

li:first-child {
    font-weight: bold;
}